<div class="birthday-container">
    <div class="margin">
        <p-avatar [label]="birthday | initialsPipe"
                  size="large"
                  shape="circle"
                  [style]="{ 'background-color': '#6495ED', color: '#ffffff' }"></p-avatar>
    </div>
    <div class="column-center">
        <div>
            {{birthday.firstName}} {{birthday.lastName}}
        </div>
        <div class="subtext">
            {{birthday.birthDay | date : 'MM/d'}} - {{ birthday.birthDay | howOld : (currentDate$ | async)! }}
        </div>
    </div>
    <div style="margin: auto;"></div>
    <div class="column-center center">
        <div>
            {{birthday.birthDay | daysUntil : (currentDate$ | async)!}}
        </div>
        <div>
            days
        </div>
    </div>
    <div class="column-center dayHolder">
        <p-button icon="pi pi-angle-right"
                  [routerLink]="['/person', { id: birthday.id}]"
                  [rounded]="true"
                  [text]="true">
        </p-button>
    </div>
</div>