<p-panel header="{{phrase}} Birthday">

    <div class="wrapper m-0"
         [formGroup]="form">

        <span class="p-float-label">
            <input pInputText
                   inputId="firstName"
                   formControlName="firstName"
                   data-cy="firstName">
            <label for="firstName">Last Name</label>
        </span>

        <span class="p-float-label">
            <input pInputText
                   inputId="lastName"
                   formControlName="lastName"
                   data-cy="lastName">
            <label for="lastName">Last Name</label>
        </span>

        <span class="p-float-label">
            <p-calendar formControlName="birthDay"
                        inputId="birthDay"
                        formControlName="birthDay"
                        data-cy="birthDay"></p-calendar>
            <label for="birthDay">Birthday</label>
        </span>

        <p-button [label]="phrase"
                  (onClick)="add()"></p-button>
    </div>
</p-panel>