<div class="event-container">
    <div class="margin">
        <p-avatar [label]="event | initialsPipe"
                  size="large"
                  shape="circle"
                  [style]="{ 'background-color': 'var(--primary-color)', color: 'var(--primary-color-text)' }"></p-avatar>
    </div>
    <div class="column-center">
        <div>
            {{event.firstName}} {{event.lastName}}
        </div>
        <div class="subtext">
            {{event.date | date : 'MM/d'}} - {{ event.date | howOld : (currentDate$ | async)! : event.eventName }}
        </div>
    </div>
    <div style="margin: auto;"></div>
    <div class="column-center center">
        <div>
            {{event.date | daysUntil : (currentDate$ | async)!}}
        </div>
        <div>
            days
        </div>
    </div>
    <div class="column-center dayHolder">
        <p-button icon="pi pi-angle-right"
                  [routerLink]="['/person', { id: event.id}]"
                  [rounded]="true"
                  [text]="true">
        </p-button>
    </div>
</div>