/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.margin {
    padding: 5px
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-content-center {
    align-items: center;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}