<p-panel header="{{phrase}} Event">

    <div class="wrapper m-0"
         [formGroup]="form">

        <span class="p-float-label">
            <input pInputText
                   inputId="firstName"
                   formControlName="firstName"
                   data-cy="firstName">
            <label for="firstName">First Name</label>
        </span>

        <span class="p-float-label">
            <input pInputText
                   inputId="lastName"
                   formControlName="lastName"
                   data-cy="lastName">
            <label for="lastName">Last Name</label>
        </span>

        <span class="p-float-label">
            <input pInputText
                   inputId="eventName"
                   formControlName="eventName"
                   data-cy="eventname">
            <label for="eventname">Event Name</label>
        </span>

        <span class="p-float-label">
            <p-calendar formControlName="date"
                        inputId="date"
                        formControlName="date"
                        data-cy="date"></p-calendar>
            <label for="date">Date</label>
        </span>

        <span class="p-float-label">
            <textarea pInputTextarea
                      rows="5" 
                      cols="30"
                      pInputTextarea 
                      formControlName="notes" 
                      inputId="notes" 
                      formControlName="notes" 
                      data-cy="notes">
            </textarea>
            <label for="notes">Notes</label>
        </span>

        <p-button [label]="phrase" 
                  (onClick)="add()">
        </p-button>
    </div>
</p-panel>