<p-panel header="{{phrase}} Event">

    <div class="wrapper m-0"
         [formGroup]="form">

        <p-floatlabel>
            <input pInputText
                   id="firstName"
                   formControlName="firstName"
                   data-cy="firstName">
            <label for="firstName">First Name</label>
        </p-floatlabel>

        <p-floatlabel>
            <input pInputText
                   id="lastName"
                   formControlName="lastName"
                   data-cy="lastName">
            <label for="lastName">Last Name</label>
        </p-floatlabel>

        <p-floatlabel>
            <input pInputText
                   id="eventName"
                   formControlName="eventName"
                   data-cy="eventname">
            <label for="eventName">Event Name</label>
        </p-floatlabel>

        <p-floatlabel>
            <p-datepicker formControlName="date"
                        inputId="date"
                        data-cy="date"></p-datepicker>
            <label for="date">Date</label>
        </p-floatlabel>

        <p-floatlabel>
            <textarea pInputTextarea
                      rows="5"
                      cols="30"
                      id="notes"
                      formControlName="notes"
                      data-cy="notes">
            </textarea>
            <label for="notes">Notes</label>
        </p-floatlabel>

        <p-button [label]="phrase" 
                  (onClick)="add()">
        </p-button>
    </div>
</p-panel>