<div class="center">
    <h1>Settings</h1>
</div>
<div class="flex-space-between">
    <p-button label="Export Birthdays"
              (onClick)="exportBirthdays()">
    </p-button>

    <div>
        <label for="file"
               class="p-button font-bold">Import birthdays
        </label>
        <input type=file
               style="display: none;"
               id=file
               class="col"
               textContent="Upload file"
               formControlName="file"
               (change)="importBirthdays($event)">
    </div>

    <!-- <p-button label="Yippee Button"
              (onClick)="yippee()"
              [rounded]="true">
    </p-button> -->
</div>